[Unit]
Description=ITL_Auto_Aim Node Service
After=default.target

[Service]
Type=exec
WorkingDirectory=/home/guo/ros_ws/ITL_AutoAim
ExecStart=/home/guo/ros_ws/ITL_AutoAim/scripts/start_node.sh pipeline sentry_node
Restart=on-failure
RestartSec=5
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
